<h1><%= @train.name %></h1>

<%= link_to 'edit me', edit_train_path(@train) %>

<p>
  This train costs £<%= @train.price %>
</p>

<p>
  <%= @train.choo_choo  %>
</p>

<%= link_to "All Trains", trains_path %>
